html,
body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}


.menu {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to left, black 0%, black 35%, transparent 100%);
}

.logo {
    width: 60px;
    margin: auto;
}

.menu img {
    width: 100%;
}

.menu ul {
    display: flex;
    column-gap: 10px;
    list-style: none;
}  

.menu-contenido {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: white;
}






.section-uno {
    background-color: white;
    color: black;
}

.titulo-uno {
    font-size: 20px;
    background-color: #232975;
    text-align: center;
    margin: auto;
}

.imagen-uno img {
    display: block;
    transition:all 0.2s ease-in-out;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.imagen-uno img:hover {
    transform: rotate(-12deg) scale(1.2);  
}


.titulo-dos { 
    font-size: 15px;
    text-align: center;
}

.parrafo-uno {
    font-size: 15px;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
}




.section-dos {
    background-color: #232975;
    color: white;
}

.titulo-tres {
    text-align: center;
    font-size: 18px;
}

.section-dos ul {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
    font-size: 15px;
    list-style-type: none;
    line-height: 17px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-dos li {
    color: #000;
}



.section-tres {
    background-color: white;
    color: black;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "titulo imagen"
                        "servicio imagen";
}

.section-tres > div {
    display: flex;
    align-items: center;
}

.grid1 {
    grid-area: titulo;
}

.grid2 {
    grid-area: servicio;
}

.grid3 {
    grid-area: imagen;
}


.section-tres ul {
    font-size: 17px;
    list-style-type: square;
}




.nosotros {
    background-color: #232975;
}

.quienes {
    text-align: center;
    font-size: 17px;
    color: white;
}

.nosotros-uno {
    color: white;
    font-size: 17px;
    text-align: center;
}





.contacto {
    background-color: wheat;
    display: flex;
    flex-direction: column;
}

.contacto-titulo {
    color: black;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

.contacto-todo {
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 2% 2%;
}

.formulario label {
    font-size: larger;
    display: inline-block;
    margin-bottom: 6px;
}


.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display: block;
    width: 100%;
}

.contacto-info h2 {
    padding-bottom: 10px;
    text-align: center;
}


.contacto-info li {
    list-style-type: square;
    padding-right: 10px;
    margin: 10px;
}




@media (min-width: 767px) {
    .menu-contenido {
        width: 100%;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }
    
    .titulo-dos { 
        font-size: 15px;
        text-align: center;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .parrafo-uno {
        font-size: 15px;
        line-height: 17px;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .section-tres {
        background-color: white;
        color: black;
        font-size: 17px;
        width: 100%;
        max-width: 600px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo imagen"
                            "servicio imagen";
    }
    
    .section-dos ul {
        font-size: 15px;
        list-style-type: none;
        line-height: 17px;
        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    .contacto-todo {
        flex-direction: row;
    }
}    

@media (min-width: 992px) {
    .menu-contenido {
        width: 100%;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    .section-uno-abajo {
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .section-uno-abajodos {
        display: flex;
        flex-direction: column;
    }
    
    .titulo-dos { 
        font-size: 15px;
        text-align: center;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    .parrafo-uno {
        font-size: 15px;
        line-height: 17px;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }

    .section-tres {
        background-color: white;
        color: black;
        font-size: 17px;
        width: 100%;
        max-width: 800px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo imagen"
                            "servicio imagen";
    }
    
    .section-dos ul {
        font-size: 15px;
        list-style-type: none;
        line-height: 17px;
        width: 100%;
        max-width: 660px;
        margin: auto;
    }

    .contacto-todo {
        width: 100%;
        max-width: 700px;
        margin: auto;
    }


}

@media (min-width: 1200px) {
    .menu-contenido {
        width: 100%;
        max-width: 500px;
        margin: auto;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;
    }

    
    .titulo-dos { 
        font-size: 15px;
        text-align: center;
        width: 100%;
        max-width: 1000px;
        margin: auto;
    }

    .parrafo-uno {
        font-size: 15px;
        line-height: 17px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
    }

    .section-tres {
        background-color: white;
        color: black;
        font-size: 17px;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo imagen"
                            "servicio imagen";
    }
    
    .section-dos ul {
        font-size: 15px;
        list-style-type: none;
        line-height: 17px;
        width: 100%;
        max-width: 860px;
        margin: auto;
    }
}





/* .section-productos {
    background-color: black;
}

.titulo-productos {
    background-color: #232975;
    color: white;
    font-size: 17px;
    text-align: center;
}

.productos {
    background-color: black;
    color: white;
    display: flex;
}

.productos li {
    list-style-type: square;
} */






/* .alquiler {
    background-color: white;
}

.alquiler-titulo {
    background-color: #232975;
    color: white;
    font-size: 17px;
    text-align: center;
}

.alquiler-productos {
    background-color: white;
    color: black;
    display: flex;
}

.alquiler-productos li {
    list-style-type: square;
} */






footer {
    background-color: black;
    color: white; 
    text-align: center;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: white;
}


